<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tisson.dbmgr.mapper.ActiveNewsMsgMapper" >
  <resultMap id="BaseResultMap" type="cn.tisson.dbmgr.model.ActiveNewsMsg" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ServiceWebChatID" property="servicewebchatid" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ServiceWebChatID, Description, CreateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ActiveNewsMsg
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ActiveNewsMsg
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tisson.dbmgr.model.ActiveNewsMsg" >
    insert into ActiveNewsMsg (ID, ServiceWebChatID, Description, 
      CreateDate)
    values (#{id,jdbcType=INTEGER}, #{servicewebchatid,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.tisson.dbmgr.model.ActiveNewsMsg" >
    insert into ActiveNewsMsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="servicewebchatid != null" >
        ServiceWebChatID,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="servicewebchatid != null" >
        #{servicewebchatid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tisson.dbmgr.model.ActiveNewsMsg" >
    update ActiveNewsMsg
    <set >
      <if test="servicewebchatid != null" >
        ServiceWebChatID = #{servicewebchatid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tisson.dbmgr.model.ActiveNewsMsg" >
    update ActiveNewsMsg
    set ServiceWebChatID = #{servicewebchatid,jdbcType=VARCHAR},
      Description = #{description,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>