<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tisson.dbmgr.mapper.MassPushMsgMapper" >
  <resultMap id="BaseResultMap" type="cn.tisson.dbmgr.model.MassPushMsg" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ServiceWebChatID" property="servicewebchatid" jdbcType="VARCHAR" />
    <result column="ToWebChatID" property="towebchatid" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="VARCHAR" />
    <result column="MsgID" property="msgid" jdbcType="INTEGER" />
    <result column="SendDate" property="senddate" jdbcType="TIMESTAMP" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ServiceWebChatID, ToWebChatID, Type, MsgID, SendDate, Description, CreateDate, 
    Status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MassPushMsg
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MassPushMsg
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tisson.dbmgr.model.MassPushMsg" >
    insert into MassPushMsg (ID, ServiceWebChatID, ToWebChatID, 
      Type, MsgID, SendDate, 
      Description, CreateDate, Status
      )
    values (#{id,jdbcType=INTEGER}, #{servicewebchatid,jdbcType=VARCHAR}, #{towebchatid,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{msgid,jdbcType=INTEGER}, #{senddate,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.tisson.dbmgr.model.MassPushMsg" >
    insert into MassPushMsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="servicewebchatid != null" >
        ServiceWebChatID,
      </if>
      <if test="towebchatid != null" >
        ToWebChatID,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="msgid != null" >
        MsgID,
      </if>
      <if test="senddate != null" >
        SendDate,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="servicewebchatid != null" >
        #{servicewebchatid,jdbcType=VARCHAR},
      </if>
      <if test="towebchatid != null" >
        #{towebchatid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="msgid != null" >
        #{msgid,jdbcType=INTEGER},
      </if>
      <if test="senddate != null" >
        #{senddate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tisson.dbmgr.model.MassPushMsg" >
    update MassPushMsg
    <set >
      <if test="servicewebchatid != null" >
        ServiceWebChatID = #{servicewebchatid,jdbcType=VARCHAR},
      </if>
      <if test="towebchatid != null" >
        ToWebChatID = #{towebchatid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="msgid != null" >
        MsgID = #{msgid,jdbcType=INTEGER},
      </if>
      <if test="senddate != null" >
        SendDate = #{senddate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tisson.dbmgr.model.MassPushMsg" >
    update MassPushMsg
    set ServiceWebChatID = #{servicewebchatid,jdbcType=VARCHAR},
      ToWebChatID = #{towebchatid,jdbcType=VARCHAR},
      Type = #{type,jdbcType=VARCHAR},
      MsgID = #{msgid,jdbcType=INTEGER},
      SendDate = #{senddate,jdbcType=TIMESTAMP},
      Description = #{description,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

    <select id="getAll" resultMap="BaseResultMap">
        <![CDATA[

          select * from MassPushMsg

        ]]>
    </select>

    <select id="getAllEffect" resultMap="BaseResultMap">
        <![CDATA[
            select * from MassPushMsg where Status = 'A001' and CreateDate < getDate();
        ]]>
    </select>
</mapper>